@media screen and (max-width: 1280px) {
    .container {
        max-width: 1183px;
    }
    .header__bottom .header__nav {
        padding: 15px 30px;
        z-index: 99;
        background: white;
    }
    .about__info {
        padding: 0 30px;
    }
    .header__subnav {
        display: none !important;
        position: relative;
        left: 0px;
        top: 10px;
        width: 100%;
        transition: all 0.5s ease;
        box-shadow: none;
    }
    .header__subnav::after {
        content: none;
    }
    .pr-lg-0{
        padding-right: 0;
        
    }
    .product__add {
        margin-top: 30px;
        display: block;
    }  
}
/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 1024px) {
    .container {
        max-width: 970px;
    }
    .navbar--toggle {
        display: block;
        cursor: pointer;
    }
    .header__bottom .header__nav {
        padding: 10px 15px;
        z-index: 99;
        background: white;
    }
    .header__bottom .header__navbar {
        top: 92px;
        position: absolute;
        background: white;
        z-index: 99;
        width: 100%;
        left: 10px;
        height: 0px;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
    }
   
    .header__navbar .header__item {
        padding: 20px 50px;
    }
    .story__images img {
        width: 100%;
        object-fit: contain;
    }
    .banner__heading {
        font-size: 15px;
    }
    button.owl-prev {
        left: 0;
    }
    button.owl-next {
        right: 0;
    }
    .story,
    .product {
        margin-top: 80px;
    }
    .service__description {
        max-width: 100%;
    }
    .footer__request--info {
        max-width: 100%;
    }
    .footer__item--w200 {
        width: 100%;
    }
    .about__item {
        display: block;
        padding: 0 15px;
        padding-top: 40px;
    }
    .about__item--1 .about__image,
    .about__item--3 .about__image {
        margin-left: 0;
    }
    .about__item--2 .about__image {
        margin-right: 0;
    }
    .about__icon {
        margin-top: 32px;
    }
    .about__text {
        max-width: 100%;
    }
    .about__description--bottom {
        padding-bottom: 40px;
    }

    .footer__list {
        max-width: 100%;
        flex: 0 0 100%;
        margin-top: 0px;
    }
    .footer__input {
        padding: 9px 0 9px 10px;
        width: 100%;
    }
    .order-1 {
        order: -1;
    }
    .nav--down {
        position: absolute;
        top: 30px;
        right: 5%;
        display: block;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .nav--down.turn_up {
        transform: rotate(180deg);
    }
    .header__subnav.active {
        display: block !important;
        background: #fff;
    }
    .footer__detail {
        width: 100%;
        margin-top: 60px;
    }
    .footer__nav {
        padding-top: 0px;
    }
    .footer__heading {
        padding-bottom: 20px;
    }
    .footer__social {
        padding-top: 40px;
    }
    .footer__copyright--text {
        margin-top: 37px;
    }
    .detail {
        margin-top: 40px;
    }
    .pr-lg-0{
        padding-right: 13px;
        
    }
    .header__bottom .header__navbar.active {
        height: auto;
    }
    .colection__images {
        background: url(../images/index__banner.jpg) no-repeat;
        background-position: center center;
        min-height: 300px;
        background-size: cover;
    }
    .product__add .btn__add{
        margin-left: 0;
        width: 700px;
    }
    .product__num {
        display: block;
    }
    .product__use {
        padding: 0 15px;
        margin-top: 15px;
    }
    .tab__product .faq__list{
        padding: 0 50px;
    }
  
    .product__item {
        margin-bottom: 15px;
    }
    .btn__cart{
        width: auto;
        margin-left: 0;
    }
    .number__item {
        width: 74%;
    }
    .about__info {
        padding: 0;
        max-width: 100%;
    }
    .faq__top {
        padding: 0 15px;
        display: flex;  
    }
    .faq__list{
        display: flex;
    }
    .detail__item{
        margin-top: 40px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 970px;
    }
    .banner__text {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
    .colection__images {
        height: 100%;
    }
    .banner__images {
        height: 320px;
    }
    .story__text {
        margin: 0;
        padding: 60px 30px 0px 30px;
    }
   
    .service__thumb {
        margin-bottom: 15px;
    }
   
    .product__column {
        padding: 0 10px;
    }
  
    .product__amount {
       width: 100%;
    }
    .product__control {
        margin-top: 15px;
        padding: 0 10px;
    }
    .product__detail .product__left,
    .product__right {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
    }
    .number__item {
        width: 85%;
    }
    .product__control {
        padding: 0 20px;
    }
   
    .product__right .btn__get {
        width: 100%;
        text-align: center;
    }
    .product__ring {
        width: 100%;
        height: 450px;
    }
   
    .product__packet {
        align-items: center;
    }
    .list__item {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .faq__acorrdion {
        margin: 0 15px;
    }
    .header__manupication {
        position: unset;
    }
    .search__box::after,
    .header__favor::after,
    .header__user::after {
        content: none;
    }
    .search__box,
    .header__favor,
    .header__user {
        width: 100%;
        left: 0;
        top: 93px;
    }
    .faq__item{
        padding: 0;
    }
    .btn__cart{
        width: 620px;
        margin-left: 0;
    }
    .category__item {
        padding: 0 7.5px;
        margin-bottom: 15px;
    }
    .story__images--height-auto{
        height: auto;
    }
    .story__box--left{
        order: -2;
    }
    .story__text {
        max-width: 100%;
    }
    .story__box--right {
        padding-bottom: 40px;
    }
}
/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 767px) {
    .container {
        max-width: 720px;
    }
   
    .story__item {
        display: block;
        margin-bottom: 0;
    }
    .story__box {
        width: 100%;
    }
    
    .btn.btn__story {
        margin: 70px 0 60px 0;
    }
    .product__images img {
        width: 100%;
    }
    .product__price {
        margin-bottom: 20px;
    }
    .colection {
        height: 210px;
    }
    .service__description {
        max-width: 305px;
        font-size: 14px;
        line-height: 24px;
        margin: auto;
    }
    .header__top .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 15px;
    }
    .header__select {
        position: static;
    }
    .product__filters {
        margin-top: 20px;
    }
    .colection_thumb {
        height: auto;
    }
    .brand__image {
        margin-top: 40px;
    }
    .brand__text {
        margin-top: 30px;
    }
    .brand__heading--item {
        font-size: 20px;
    }
    .brand__description--item {
        font-size: 14px;
    }
    .about__item--2,
    .about__item--3 {
        padding-top: 70px;
    }
    .about__item--3 {
        padding-bottom: 40px;
    }
    .about__description--bottom {
        padding-bottom: 40px;
    }
    .reason__heading {
        font-size: 20px;
        line-height: 30px;
    }
    .reason__text {
        width: 345px;
    }
    .reason__thumb {
        height: 322px;
    }
   
    .contact__form {
        margin-top: 50px;
    }
     .btn__send {
        margin-bottom: 40px;
        width: 100%;
    }
    .faq__button {
        padding: 20px 72px 20px 0px;
    }
    .faq__button::before {
        top: 18px;
    }
    .banner__letter {
        font-size: 18px;
    }
    .faq__question,
    .faq__contact {
        display: block;
        padding: 60px 15px 40px 15px;
    }
    .wrapper__faqtab {
        margin-top: 37px;
    }
    .list__heading {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 40px;
        padding: 0 15px;
    }
    .list__thumb {
        margin-top: 20px;
    }
    .list__open {
        margin-top: 40px;
        font-size: 14px;
    }
   
    .number__item {
        width: 85%;
    }
    
    .banner__custom {
        padding: 57px 0;
    }
    
    .about__description--bottom {
        padding-bottom: 0;
    }
    .news__text,
    .new__image {
        width: 100%;
    }
    .detail__item,
    .detail__cards {
        flex: 0 0 100%;
        max-width: 100%;
    }
   
    .service__list {
        display: flex;
    }
}

@media screen and (max-width: 540px) {
    .faq__button::before {
        top: 25px;
    }
    .header__bottom .header__navbar {
        top: 65px;
    }
    
    .faq__contact {
        padding: 0;
    }
    .mb-sm-40 {
        margin-bottom: 40px;
    }
    .picture__text {
        width: 100%;
        height: 100%;
        position: sticky;
        transform: translate(0%, 30%);
    }
    .picture__heading {
        font-size: 20px;
    }
    .picture--bg-care {
        height: 239px;
    }
    .btn__care {
        margin-bottom: 90px;
    }
    .list__item {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .colection--height-140 {
        height: 140px;
    }
    .colection__text {
        width: 180px;
        margin-left: 12px;
    }
    .product__top {
        margin-top: 40px;
    }
    .form__select--sort {
        width: 220px;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-none {
        display: none;
    }
    .colection__description {
        max-width: 327px;
        font-size: 14px;
        line-height: 24px;
        margin-top: 5px;
    }
    .product__detail {
        margin-top: 42px;
    }
    .breadcrumb {
        padding: 0 5px;
    }
   
    .product__right .btn__get {
        display: none;
    }
    .product__description {
        margin-bottom: 40px;
    }
    .product__ring {
        width: 100%;
    }
    .product_checklist,
    .image__detail {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
    }
    .image__detail {
        padding: 0 10px;
        margin-top: 40px;
    }
    .tab__product .faq__links {
        padding: 15px 0;
    }
    .product__link {
        font-size: 14px;
    }
    .wrapper__product--tab {
        margin-top: 50px;
    }
    .show__product {
        height: 400px;
    }
    .header__subnav .header__item {
        padding: 20px;
    }
    .story__images {
        height: 345px;
    }
  
    .colection__text--w100 {
        width: 100%;
    }
    .mt-sm-40 {
        margin-top: 40px;
    }
 
    .service__item--mb-40 {
        margin-bottom: 40px;
    }
   
    .service__heading {
        padding-top: 40px;
        padding-bottom: 25px;
    }
    .header__form {
        position: static;
    }
    .header__logo {
        display: block;
        width: 80px;
        margin-left: 10px;
    }
    .header__bottom .header__operate {
        margin-right: 10px;
    }
    .picture__thumb-about {
        background: url(../images/about_small_banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 322px;
    }
    .nav--down {
        position: absolute;
        top: 10px;
        right: 10%;
        display: block;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    .contact__heading {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 30px;
    }
    .list__care {
        font-size: 14px;
        padding: 0px 43px;
        margin-bottom: 50px;
    }
   
    .faq__links,
    .faq__links.active {
        padding: 10px 0;
    }
    .product__filter {
        margin-left: 65px;
    }
    .pb-sm-0 {
        padding-bottom: 0 !important;
    }
    .banner__images img {
        object-fit: cover;
    }
    
    .faq .container {
        padding: 0 7.5px;
    }
    .service__list {
        display: block;;
    }
    .story__images img{
        object-fit: cover;
    }
    .search__box,
    .header__favor,
    .header__user {
        width: 100%;
        left: 0;
        top: 65px;
    }
    .service__item:last-child{
        padding-bottom: 40px;
    }
    .story__box--right {
        padding-bottom: 0px;
    }
    .tab__product .faq__list {
        padding: 0 8px;
      
        }
        .faq__list {
        padding: 0 25px;
        }
}
/*Tablet nhỏ(480 x 640)*/

@media screen and (max-width: 480px) {
    .container {
        max-width: 540px;
    }
    .header__bottom .header__container {
        max-width: 540px;
    }
    .header__navbar .header__item {
        padding: 15px 25px;
        position: relative;
    }
    .header__navbar .header__item.active {
        position: relative;
    }
    .header--img__logo {
        max-width: 100%;
    }
    .banner .btn__buy {
        letter-spacing: 2px;
        margin-top: 15px;
    }
    .header__top {
        z-index: 99;
        padding: 0;
    }
    .btn.btn__category {
        bottom: 20px;
    }
    .colection {
        height: 100%;
    }
    .colection__text .colection__heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    .service__thumb {
        margin-bottom: 20px;
    }
    .footer__copyright {
        margin-top: 0;
    }
    .product__item .btn__add {
        padding: 8px 14px;
        width: auto;
    }
   
    .category__heading,
    .story__heading,
    .product__heading {
        font-size: 20px;
        line-height: 30px;
    }
    .faq__button::before {
        top: 35px;
    }
    .faq__top {
        
        margin: 20px 0 0 0;
    }
   
    .number__item {
        width: 69%;
    }
    
    .copyright{
        padding-top: 50px;
    }
   
    .btn__more::after{
        width: 5px;
        height: 5px;
    }
    .faq__button::after {
        top: 15px;
    }
    .btn__cart{
        width: 271px;
        margin-left: 0;
        padding: 0;
    }
    .faq__top {
        padding: 0;
        display: block;
        
    }
    .tab__product .faq__list {
        padding: 0;
    }
   
  
}

@media screen and (max-width: 376px) {
   
    .faq__item{
        padding: 0 25px;
    }
   
}
/*Iphone(480 x 640)*/

@media screen and (max-width: 320px) {
    .header__title,
    .header__input {
        font-size: 10px;
    }
    .faq__button::before {
        top: 50px;
    }
    .header__bottom .d-flex {
        flex-wrap: nowrap;
    }
    .product__filters {
        display: block;
    }
    .product__filter {
        display: block;
        margin: 20px 0 0 0;
    }
    .product__favorite {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .product__item .btn__add {
        padding: 5px 14px;
    }
    .faq__button.active::after{
        top: 56%;
    }
    .number__item {
    width: 60%;
    }
    .btn__cart{
        width: 200px;
        margin-left: 0;
    }
}
/*Smart phone nhỏ*/

@media screen and (max-width: 240px) {}